.DeliveryCycle{
    height: auto;
    margin: 50px 0;
    color: rgb(49, 47, 47);
    /* background-color: aqua; */
}
.inner-DeliveryCycle{
    display: flex;
    width: 80%;
    margin: auto;
    /* border-bottom: 1px solid rgb(197, 197, 197); */
    padding: 30px 0;
}

.inner-DeliveryCycle p{
    font-size: 15px;
    color: rgb(78, 76, 76);
    line-height: 1.4;
    text-align: center;
}

.inner-DeliveryCycle{
    justify-content: space-between;
}

.inner-DeliveryCycle img{
    width: 45px;
    margin-right: 8px;
}

.inner-DeliveryCycle span{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc{
    margin: 0px 5px;
}

@media only screen and (max-width: 1150px){
    .inner-DeliveryCycle{
        width: 95%;
    }

    
.inner-DeliveryCycle span{
    display: flex;
    flex-direction: column;
    align-items: center;
}


}
@media only screen and (max-width: 1050px){
    .desc span{
        display: flex;
        justify-content: center;
        /* width: 90%; */
        flex-direction: column;
    }

    .inner-DeliveryCycle p{
        display: none;
    }

    .inner-DeliveryCycle h4{
        text-align: center;
        justify-content: center;
    }
} 
@media only screen and (max-width: 815px) {
    .inner-DeliveryCycle{
        width: 95%;
    }
}

@media only screen and (max-width:650px) {
    .inner-DeliveryCycle{
        text-align: center;
        width: 90%;
    }

    .desc{
        transition: .5s;
    }

    .desc:hover{
        /* background-color: #b5a6f86d; */
        transform: scale(105%);
    }

    .inner-DeliveryCycle h4{
        text-align: center;
        justify-content: center;
        font-size: 12px;
    }
}