.SignUp{
    width: 70%;
    margin: auto;
}
.SignUp form{
    display: flex;
    flex-direction: column;
    line-height: 40px;
    margin: auto;
}

.SignUp form label{
    display: flex;
    flex-direction: column;
}

.SignUp input, .LoginItems:focus{
    height: 40px;
    /* width: 100%; */
    border-radius: 12px;
    border: transparent;
    box-shadow: 1px 1px 5px gray;
    outline: none;
    padding: 20px;
}

.SignUp input[type='Submit']{
    width: 90%;
    height: 3rem;
    border: transparent;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: rgb(0, 170, 255);
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgb(68, 68, 68);
    margin: 25px auto;
    padding: 0;cursor: pointer;
}
.checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.checkbox p{
    display: flex;
}
.checkbox input{
    display: block;
    text-align: left;
    box-shadow: none;
    width: 15px;
    margin-right: 15px;
}

.checkbox a{
    color: #150BD4;
    text-decoration: none;
}

.Registration-para a{
    text-decoration: none;
    color: #150BD4;
}

.google-login{
    margin: 20px 0;
    border-radius: 20px;
    width: 100%;
    height: 3rem;
    box-shadow: 1px 1px 5px gray;
}

@media only screen and (max-width: 700px){
    .SignUp{
        width: 90%;
    }
}