/* /////new  */
.cartTable {
    background-color: white;
    width: 100%;
}

.cartTable table, tr, th, td{
    border: transparent;
    border-bottom: 1px solid #3a345336;
    padding: 5;
}

.cartTable tr th{
    background-color: #614bc326;
}

.cartTable img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.cartitem p:nth-child(1){
    color: #614BC3;
    font-weight: 500;
    font-size: 16px;
}
/* //////////////// */

.Cart-container{
    margin: 20px 0;
}
.cartitem-image{
    background-color: black;
    height: 80px;
    width: 90px;
    margin-right: 15px;
}

.cartitem-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inner-cart{
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: auto;
    /* background-color: aqua; */
}


.remove-itemi{
    color: #614BC3;
    font-size: 22px;
    cursor: pointer;
}

.remove-itemi:hover{
    color: #614bc3dc;
}


.order-area{
    /* background-color: rgb(222, 242, 252); */
    background-color: #bfb0ff58;
    width: 500px;
    height: 17rem;
    border-radius: 10px;
}

.inner_order-area{
    padding: 20px;
}

.order_pricing{
    border-bottom: 2px solid gray;
    padding: 15px 0;
}

.order_pricing .subtotal{
    display: flex;
    justify-content: space-between;
}

.order_pricing .shipping_charge{
    display: flex;
    justify-content: space-between;
}

.order_Total{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid gray; */
    padding: 20px 0;
}

.checkoutbtn_container{
    padding: 12px 0;
    text-align: center;
}

.checkoutbtn_container button{
    /* background-color: #2AB0EE; */
    background-color: #614BC3;
    /* padding: 8px 15px; */
    width: 80%;
    height: 45px;
    font-size: 15px;
    border-radius: 24px;
    border: transparent;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.checkoutbtn_container button:hover{
    background-color: #614bc3e7;
}

.showiflogout{
    text-align: center;
    line-height: 50px;
    margin: 30px;
}

.showiflogout img{
    width: 250px;
}

.showiflogout a{
    background-color: #614BC3;
    padding: 8px 10px;
}

.excart{
    display: none;
}
.empty-con{
    text-align: center;
    margin: 50px 0;
}
.empty-con img{
    width: 100px;
}


@media only screen and (max-width: 1000px){
    .inner-cart{
        width: 98%;
    }
}
@media only screen and (max-width: 950px){
    .inner-cart{
        flex-direction: column;
        width: 100%;
    }

    .cartitem-container{
        width: 100%;
    }
    
    .cart-area{
        width: 98%;
        margin: auto;
    }

    .order-area{
    /* background-color: rgb(222, 242, 252); */
    background-color: #bfb0ff58;
    width: 75%;
    height: auto;
    margin: auto;
    border-radius: 10px;
}
}

@media only screen and (max-width: 600px){
    .excart{
        display: block;
    }
    .cartTable table{
        text-align: left;
    }

    .cartTable table tr th:nth-child(3), .cartTable table tr th:nth-child(4), .cartTable table tr th:nth-child(5), .cartTable table tr th:nth-child(6){
        display: none;
    }
    
    .cartTable table tr:nth-child(1){
        background-color: black;
        /* display: none; */
        color: white;
    }

    .Cart-container{
        margin: 5px 0;
    }
    .cartTable table tr td:nth-child(3), .cartTable table tr td:nth-child(4), .cartTable table tr td:nth-child(5), .cartTable table tr td:nth-child(6){
        display: none;
    }

    .order-area{
    /* background-color: rgb(222, 242, 252); */
    background-color: #bfb0ff58;
    width: 95%;
    border-radius: 10px;
}
}


/* @keyframes img {
    0% {transform: scale(100%);}
    50% {transform: scale(120%);}
    100% {transform: scale(100%);}
  } */